<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Noclegi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBarMenu.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-success  ">
            <!--navbar-custom-->
            <a class="navbar-link custom-title col-2" asp-area="" asp-controller="Home" asp-action="Index"><img alt="NOCLEGI" src="~/Noclegi_logo.png" class="SizeLogo" /></a>
            <button class="navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class="navbar-link custom-title col-2" asp-area="" asp-controller="Home" asp-action="Index"><img alt="NOCLEGI" src="~/Noclegi_logo.png" class="SizeLogo" /></a>
                <partial name="_AnnouncementPartial" />
            </div>

            <!-- Use any element to open the sidenav -->
            <partial name="_sideMenu" />
            <div class="collapse navbar-collapse justify-content-center " id="navbarNavAltMarkup">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home<span class="sr-only">(current)</span></a>
                    </li>

                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div id="main">@RenderBody()</div>


    <footer class="border-top footer text-muted">
        <div class="container footerStyle">
            &copy; 2019 - Noclegi - <a style="color:aqua" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
