@page
@model Noclegi.Areas.Announcement.Pages.CreateAnnouncementModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dodaj ogłoszenie</h1>

<div class="container">
    <form id="Announcement-form" method="post">


        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Input.TypeOfAdvertisement" ></label>
            <select class="custom-select" asp-for="Input.TypeOfAdvertisement">
                <option value="Rent">Wynajme</option>
                <option value="LookingFor">Szukam</option>
                <option value="Exchange">Wymienie</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Input.Title"></label>
            <input asp-for="Input.Title" type="text">
            <span asp-validation-for="Input.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Description"></label>
            <input asp-for="Input.Description" type="text">
            <span asp-validation-for="Input.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.StartDate"></label>
            <input asp-for="Input.StartDate" type="date">
            <span asp-validation-for="Input.StartDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.EndDate"></label>
            <input asp-for="Input.EndDate" type="date">
            <span asp-validation-for="Input.EndDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Price"></label>
            <input asp-for="Input.Price" type="number" >
            <span asp-validation-for="Input.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.PropertyType"></label>
            <select class="custom-select" asp-for="Input.PropertyType">
                <option value="Apartment" selected>Apartament</option>
                <option value="House">Dom</option>
                <option value="Building">Budynek</option>
                <option value="Other">Inne</option>
            </select>
            <span asp-validation-for="Input.PropertyType" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Floor"></label>
            <input asp-for="Input.Floor" type="number">
            <span asp-validation-for="Input.Floor" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Rooms"></label>
            <input asp-for="Input.Rooms" type="number">
            <span asp-validation-for="Input.Rooms" class="text-danger"></span>
        </div>

        <h4>Adres</h4>

        <div class="form-group">
            <label asp-for="Input.Street"></label>
            <input asp-for="Input.Street" type="text">
            <span asp-validation-for="Input.Street" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.City"></label>
            <input asp-for="Input.City" type="text">
            <span asp-validation-for="Input.City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.PostCode"></label>
            <input asp-for="Input.PostCode" type="text">
            <span asp-validation-for="Input.PostCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Province"></label>
            <input asp-for="Input.Province" type="text">
            <span asp-validation-for="Input.Province" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Country"></label>
            <input asp-for="Input.Country" type="text">
            <span asp-validation-for="Input.Country" class="text-danger"></span>
        </div>

        <button id="create-announcement-button" type="submit" class="btn btn-primary">Zapisz</button>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}