@page
@model Noclegi.Areas.Announcement.Pages.CreateAnnouncementModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dodaj ogłoszenie</h1>





<div class="container">

    <form action="#" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Tytul">Tytul</label>
            <input asp-for="Input.Tytul" type="text">
            <span asp-validation-for="Input.Tytul" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Opis">Opis</label>
            <input asp-for="Input.Opis" type="text">
            <span asp-validation-for="Input.Opis" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.DataRozpoczecia">Data Rozpoczecia</label>
            <input asp-for="Input.DataRozpoczecia" type="date">
            <span asp-validation-for="Input.DataRozpoczecia" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.DataZakonczenia">Data Zakonczenia</label>
            <input asp-for="Input.DataZakonczenia" type="date">
            <span asp-validation-for="Input.DataZakonczenia" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Cena">Cena</label>
            <input asp-for="Input.Cena" type="number">
            <span asp-validation-for="Input.Cena" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Typ Ogloszenia</label>
            <select class="custom-select" asp-for="Input.TypOgloszenia">
                <option value="Wynajeme" selected>Wynajme</option>
                <option value="Szukam">Szukam</option>
                <option value="Wymienie">Wymienie</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Input.PropertyType">Property type</label>
            <input asp-for="Input.PropertyType" type="text">
            <span asp-validation-for="Input.PropertyType" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Pietro">Pietro</label>
            <input asp-for="Input.Pietro" type="number">
            <span asp-validation-for="Input.Pietro" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Pokoje">Pokoje</label>
            <input asp-for="Input.Pokoje" type="number">
            <span asp-validation-for="Input.Pokoje" class="text-danger"></span>
        </div>

        <h4>Adres</h4>

        <div class="form-group">
            <label asp-for="Input.Ulica">Ulica</label>
            <input asp-for="Input.Ulica" type="text">
            <span asp-validation-for="Input.Ulica" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Miasto">Miasto</label>
            <input asp-for="Input.Miasto" type="text">
            <span asp-validation-for="Input.Miasto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.KodPocztowy">Kod Pocztowy</label>
            <input asp-for="Input.KodPocztowy" type="text">
            <span asp-validation-for="Input.KodPocztowy" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Prowincja">Prowincja</label>
            <input asp-for="Input.Prowincja" type="text">
            <span asp-validation-for="Input.Prowincja" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Kraj">Panstwo</label>
            <input asp-for="Input.Kraj" type="text">
            <span asp-validation-for="Input.Kraj" class="text-danger"></span>
        </div>

        <button type="submit" a>Zapisz</button>



    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}