@page
@model Noclegi.Areas.Announcement.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form id="form1" runat="server" >
    @Html.Raw(Model.Input.HtmlTable)
</form>