@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center jumbotron  shadow-lg ">
        <h4>Witaj w Noclegach!</h4>
        <p class="lead">
            Noclegi to miejsce gdzie możesz dodać, znaleźć albo wymienić się zakwaterowaniem z innymi ludźmi. 
            Nie pośredniczymy w płatności, dzięki czemu nie ma żadnych ukrytych opłat oraz nie jest wymagane 
            podpięcie karty płatniczej.
            Rozpoczęcie korzystania jest bardzo proste, potrzebujesz tylko darmowego konta!
        </p>

        <div id="caroyselHome" class="carousel slide" data-ride="carousel" >
            <ol class="carousel-indicators">
                <li data-target="#caroyselHome" data-slide-to="0" class="active"></li>
                <li data-target="#caroyselHome" data-slide-to="1"></li>
                <li data-target="#caroyselHome" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/placeholderslide.png" class="d-block w-100" alt="Find" style="height: 450px">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Znajdź</h3>
                        <p class="slideText">Planujesz wyjazd na wycieczkę ale zapomniałeś zarezerwować sobie hotel? Szukasz miejsca do spania niedaleko Ciebie? Proszę sprwadź ogłoszenia naszych użytkowników!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/placeholderslide.png" class="d-block w-100" alt="Offer" style="height: 450px">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Oferuj</h3>
                        <p class="slideText">
                            Możesz oferować miejsce do spania na Twoich zasadach! Po prostu dodaj swoją ofertę, dokładnie ją opisz i czekaj na odpowiedź.
                            Każdego dnia ogromna ilość osób szuka miejsca do zatrzymania się, dlaczego nie mieliby wybrać właśnie Twojej oferty!
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/placeholderslide.png" class="d-block w-100" alt="Exchange" style="height: 450px">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Wymień</h3>
                        <p  class="slideText">
                            Znudzony mieszkaniem na morzem? Chcesz odpocząć w górach ale jest to dla Ciebie za drogie albo nie chcesz zostawiać swojego mieszkania samego?
                            Nie jesteś sam! Wielu ludzi jest w podobnej sytuacji, dlatego nie zwlekaj i znajdź pasujacą Ci ofertę albo stwórz nową!
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#caroyselHome" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Poprzednie</span>
            </a>
            <a class="carousel-control-next" href="#caroyselHome" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Następny</span>
            </a>
        </div>
    </div>



